button {

    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    font: inherit;
}

button:hover {
    color:#ccc;
    border-color: #bbb;
    outline: 0;
}

input[type="password"] {
    height: 70px;
    padding: 6px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-sizing: border-box;
    font: inherit;
    text-align: center;
}

input[type="password"]:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.reveal .title-min {
    border-bottom: 3px dashed;
    width: 70%;
    margin-left: 15%;
    color: #d9d9d9;
    text-align: left;
    margin-bottom: 50px;
}

.reveal img {
    border-style: none !important;
    box-shadow: none !important;
}

.reveal .progress {
    height: 10px;
    color: white;
}
.reveal .controls .controls-arrow {
    color: white;
}

.headline-fade{
    display: none;
}

.text-basic {
    border-radius: 5px;
    margin-left: 0;
    width: auto;
    padding: 10px;
    background-color: rgba(179,179,179,0);
}

#overlay{
    position: fixed;
    display: none;
    height: 15%;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: 20;
}

.reveal pre{
    background-color: rgba(255,255,255, 0.2);
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    width: fit-content;
    font-size: 40px;
}

.proxy {
    font-size: 100px;
    margin-right: 100px;
}